 <div class="menu-bar">
    <h1 class="logo"><a href="home.html">Read<span>ora</span></a></h1>
      <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="aboutus.html">About</a></li>
        <li><a href="main.html">Manga<i class="fas fa-caret-down"></i></a>
            <div class="dropdown-menu">
                <ul>
                  <li><a href="main.html">Truyện nổi bật</a></li>
                  <li><a href="new.html">Mới</a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">Support Us</a></li>
                  <li> <a href = "loginpage.html"> Login</a></li>
                </ul>
              </div>
        </li>
      </ul>
    </div>
    </div>
<button id="darkToggle">🌙</button>
